<header class="row-fluid black-header nav-down">
<div class="row-fluid-wrapper row-depth-1 row-number-1 " id="whitePartialBack">
    <div class="row-fluid "> 
        <div class="span12 widget-span widget-type-cell header nav-down" id="headerContentMain" style="" data-widget-type="cell" data-x="0" data-w="12">
            <div class="row-fluid-wrapper row-depth-1 row-number-2 ">
                <div class="row-fluid ">
                    <div class="span12 widget-span widget-type-cell container" style="" data-widget-type="cell" data-x="0" data-w="12">
                        <div class="row-fluid-wrapper row-depth-1 row-number-3 ">
                            <div class="row-fluid ">
                                <div class="span2 widget-span widget-type-cell logo-main" style="" data-widget-type="cell" data-x="0" data-w="3">
                                    <div class="row-fluid-wrapper row-depth-1 row-number-4 ">
                                        <div class="row-fluid ">
                                            <div class="span12 widget-span widget-type-custom_widget logo-black" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                                               <a href="{{ module.logo_link }}">
                                               {% if module.logo_color.src %}
                                              {% set sizeAttrs = 'width="{{ module.logo_color.width }}" height="{{ module.logo_color.height }}"' %}
                                              {% if module.logo_color.size_type == 'auto' %}
                                              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                              {% elif module.logo_color.size_type == 'auto_custom_max' %}
                                              {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.logo_color.max_width }}px; max-height: {{ module.logo_color.max_height }}px"' %}
                                              {% endif %}
                                              {% set loadingAttrMain = module.logo_color.loading != 'lazy' ? 'loading="{{ module.logo_color.loading }}"' : '' %}
                                              <img loading="lazy" src="{{ module.logo_color.src }}" alt="{{ module.logo_color.alt }}" {{ sizeAttrs }} {{ loadingAttrMain }}>
                                              {% endif %}
                                              </a>
                                            </div>
                                            <!--end widget-span -->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end row-wrapper -->
                                    <div class="row-fluid-wrapper row-depth-1 row-number-5 ">
                                        <div class="row-fluid ">
                                            <div class="span12 widget-span widget-type-custom_widget logo-white" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                                             <a href="{{ module.logo_link }}">
                                              {% if module.logo_white.src %}
                                              {% set sizeAttrs = 'width="{{ module.logo_white.width }}" height="{{ module.logo_white.height }}"' %}
                                              {% if module.logo_white.size_type == 'auto' %}
                                              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                                              {% elif module.logo_white.size_type == 'auto_custom_max' %}
                                              {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.logo_white.max_width }}px; max-height: {{ module.logo_white.max_height }}px"' %}
                                              {% endif %}
                                              {% set loadingAttr = module.logo_white.src != 'lazy' ? 'loading="{{ module.logo_white.src }}"' : '' %}
                                              <img loading="lazy" src="{{ module.logo_white.src }}" alt="{{ module.logo_white.alt }}" {{ sizeAttrs }} {{ loadingAttr }}>
                                              {% endif %}
                                              </a>
                                            </div>
                                            <!--end widget-span -->
                                        </div>
                                        <!--end row-->
                                    </div>
                                    <!--end row-wrapper -->
                                </div>
                                <!--end widget-span --> 
                                <div class="{% if module.include_cta %}span8{% else %}span12{% endif %} widget-span widget-type-cell navigation-row" style="" {% if module.include_cta %} id="withCTA" {% endif %} data-widget-type="cell" data-x="3" data-w="6">
                                    <div class="row-fluid-wrapper row-depth-1 row-number-6 ">
                                        <div class="row-fluid ">
                                            <div class="span12 widget-span widget-type-custom_widget navigation mainmenu js-enabled" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                                              <!--Mobile Menu --> 
                                              {% macro render_link_item(link,depth)%}
                                                {% if link != [] && link.label %}
                                                <li class="hs-menu-item hs-menu-depth-{{depth}} {{'hs-item-has-children' if link.children}}" aria-role="none" {{'aria-haspopup="true"' if link.children}}>
                                                  <a href="{{link.url if link.url else '#'}}" aria-role="menuitem">{{link.label}}</a>
                                                  {% if link.children %}
                                                  <ul class="hs-menu-children-wrapper" aria-role="menu">
                                                    {% set depth = depth + 1%}
                                                    {% for sublink in link.children %}
                                                    {{render_link_item(sublink,depth)}}
                                                    {% endfor %}
                                                  </ul>
                                                  {% endif %}
                                                </li>
                                                {% endif %}
                                                {% endmacro %}

                                                {% set menu = menu(module.menu_field , "site_root").children %}
                                                <div class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-menu">
                                                  <span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu">
                                                    <a class="mobile-trigger" id="mobileHamburguer"><i></i></a>
                                                    <div class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal"  id="menuMobileContent" data-content="mobileMenudata" {% if module.include_cta %} {% else %}style=" justify-content: center;" {% endif %}>
                                                     
                                                      <ul class="mega-ul">
                                                        {% for link in menu %}
                                                        {{render_link_item(link,1)}}
                                                        {% endfor %}

                                                        
                                                    
                                                         
                                                     {% for item in module.mega_menu_main_group %}
                                                       {% if module.mega_menu_ %}  
                                                        
                                                        {% for item in module.mobile_version_mega_menu %}
                                                        <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children megamenu-mobile">
                                                          <a href=""> {{ item.menu_item }} </a>
                                                          <ul class="hs-menu-children-wrapper">

                                                            {% for item2 in item.menu_group %}
                                                            <li class="hs-menu-item hs-menu-depth-2 ">
                                                              {% set href = item2.menu_items_link.url.href %}
                                                              {% if item2.menu_items_link.url.type is equalto "EMAIL_ADDRESS" %}
                                                              {% set href = "mailto:" + href %}
                                                              {% endif %}
                                                              <a href="{{ href }}"
                                                                 {% if item2.menu_items_link.open_in_new_tab %}target="_blank"{% endif %}
                                                                 {% if item2.menu_items_link.no_follow %}rel="nofollow"{% endif %}
                                                                 >
                                                                {{ item2.menu_label }}
                                                              </a> 
                                                            </li>
                                                            {% endfor %}

                                                          </ul>
                                                        </li>
                                                        {% endfor %}
                                                        
                                                        {% endif %}
                                                        
                                                    

                                                       
                                                        {% if module.mega_menu_ %}
                                                        <li class="hs-menu-item hs-menu-depth-1 mega-minuitem">
                                                          <a href="#" aria-role="menuitem">{{ item.mega_menu_name }}</a>
                                                          <div class="megamenu-section">
                                                            <div class="container">
                                                              <div class="megamenu-row">
                                                                {% for item2 in item.mega_menu_group %}
                                                                <div class="megamenu-column">
                                                                  <div class="megamenu-header">
                                                                    {{ item2.menga_menu_header }}
                                                                  </div>
                                                                  <div class="megamenu-items">
                                                                    {% simple_menu menu_tree="{{ item2.mega_simple_menu }}" %}
                                                                  </div>
                                                                </div>
                                                                {% endfor %} 
                                                              </div>    
                                                            </div>
                                                          </div>

                                                        </li>
                                                        {% endif %}

                                                        {% endfor %} 
                                                      </ul>  

                                                    </div>
                                                  </span>
                                                </div> 
                                              
                                              
                                              
                                         </div>
                                        <!--end widget-span -->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end row-wrapper -->
                                                             
                          {% if module.include_cta %}
                            <div class="span2 widget-span widget-type-cell cta-cover-header" style="" data-widget-type="cell" data-x="9" data-w="3">
                                <div class="row-fluid-wrapper row-depth-1 row-number-7 ">
                                    <div class="row-fluid ">
                                        <div class="span12 widget-span widget-type-custom_widget cta-design text-right" style="" data-widget-type="custom_widget" data-x="0" data-w="12">
                                            <div>
                                              {% set href = module.button_link.url.href %}
                                              {% if module.button_link.url.type is equalto "EMAIL_ADDRESS" %}
                                              {% set href = "mailto:" + href %}
                                              {% endif %}
                                              <a href="{{ href }}"
                                                 {% if module.button_link.open_in_new_tab %}target="_blank"{% endif %}
                                                 {% if module.button_link.no_follow %}rel="nofollow"{% endif %}
                                                 >
                                                {{ module.button_text }}
                                              </a>
                                          </div>
                                        </div>
                                        <!--end widget-span -->
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end row-wrapper -->
                            </div>
                          {% endif %}
                            </div>
                            <!--end widget-span -->
                              
                            <!--end widget-span -->
                        </div>
                        <!--end row-->
                    </div>
                    <!--end row-wrapper -->
                </div>
                <!--end widget-span -->
            </div>
            <!--end row-->
        </div>
        <!--end row-wrapper -->
    </div>
    <!--end widget-span -->
</div>

   
     
<!--end row-->
</div>
</header>


